= form_for(@menu) do |f|
  - if @menu.errors.any?
    #error_explanation
      %h2
        = pluralize(@menu.errors.count, "error")
        prohibited this menu from being saved:
      %ul
        - @menu.errors.full_messages.each do |message|
          %li= message
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Name
        %th Date from
        %th Date to
        %th Description
  %tbody
    %tr
      %td= @menu.name

      %td
      %td
      %td
%br
= link_to  new_menu_path, class: 'btn btn-success' do
  %i.glyphicon.glyphicon-plus-sign
  New Menu

%div
  - flash.each do |name, msg|
    = content_tag :div, msg, class: "alert alert-#{name}"
