= form_for(@menu) do |f|
  - if @menu.errors.any?
    #error_explanation
      %h2
        = pluralize(@menu.errors.count, "error")
        prohibited this menu from being saved:
      %ul
        - @menu.errors.full_messages.each do |message|
          %li= message
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th.col-lg-3 Name
        %th.col-lg-3 Date from
        %th.col-lg-3 Date to
        %th.col-lg-3 Description
    %tbody
      %tr
        %td
          = f.text_field :name, :class=>'form-control'

        %td
          = f.date_select :date_from
        %td
          = f.date_select :date_to
        %td
          = f.text_field :description, :class=>'form-control'
  .clear-20
  .actions
    = f.submit 'Save', class: 'btn btn-success pull-right'
  .actions
    = f.submit 'Cancel', :name => 'cancel', class: 'btn btn-danger pull-right btn-space'

