= form_for(@menu) do |f|
  - if @menu.errors.any?
    #error_explanation
      %h2
        = pluralize(@menu.errors.count, "error")
        prohibited this menu from being saved:
      %ul
        - @menu.errors.full_messages.each do |message|
          %li= message
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th.col-lg-2 Name
        %th.col-lg-3 Date from
        %th.col-lg-3 Date to
        %th.col-lg-4 Description
    %tbody
      %tr
        %td
          = f.text_field :name, :class=>'form-control'

        %td
          = f.date_select :date_from
        %td
          = f.date_select :date_to
        %td
          = f.text_field :description, :class=>'form-control'
  .clear-20

  %h2.page-header
    Menu items
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th.col-lg-1
          Sequence Order
        %th.col-lg-1
          Code
        %th.col-lg-3
          Name
        %th.col-lg-4
          Description
        %th.col-lg-2
          Price
        %th.col-lg-1

    = f.fields_for :menu_items do |builder|
      = render 'form_menu_item', f:builder
  .actions
    = link_to_add_association '<i class="fa-plus fa"></i> Add Menu Items'.html_safe, f, :menu_items, :data => {"association-insertion-method" => "before" }
  .actions
    = f.submit 'Save', class: 'btn btn-success pull-left btn-space'
  .actions
    = f.submit 'Cancel', :name => 'cancel', class: 'btn btn-danger pull-left'

