.nested-fields
  %tbody
    %tr
      %td
        = f.number_field :order, :class => 'form-control'

      %td
        = f.text_field :code, :class=>'form-control'
      %td
        = f.text_field :name, :class=>'form-control'
      %td
        = f.text_field :description, :class=>'form-control'
      %td
        = f.text_field :price, :class=>'form-control'
      %td

