<p id="notice"><%= notice %></p>

<h1>Listing Waitrons</h1>

<table>
  <thead>
    <tr>
      <th>Logon</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waitrons.each do |waitron| %>
      <tr>
        <td><%= waitron.logon %></td>
        <td><%= waitron.name %></td>
        <td><%= waitron.surname %></td>
        <td><%= waitron.mobile %></td>
        <td><%= link_to 'Show', waitron %></td>
        <td><%= link_to 'Edit', edit_waitron_path(waitron) %></td>
        <td><%= link_to 'Destroy', waitron, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waitron', new_waitron_path %>
