<p id="notice"><%= notice %></p>

<p>
  <strong>Logon:</strong>
  <%= @waitron.logon %>
</p>

<p>
  <strong>Name:</strong>
  <%= @waitron.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @waitron.surname %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @waitron.mobile %>
</p>

<%= link_to 'Edit', edit_waitron_path(@waitron) %> |
<%= link_to 'Back', waitrons_path %>
