!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TakeMyOrder
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/navigation'
    %div.containe-fluidr#main-container
      %div.row
        %div.col-xs-3#sidebar
          %h3 Take My order Todo

        %div.col-xs-9#content
          = yield
